In [39]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [40]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2020-10-22 23:15:21,-33.65,115.33,54.00,85,0,10.40
1,1,Coquimbo,CL,2020-10-22 23:12:19,-29.95,-71.34,55.40,82,75,9.17
2,2,Hermanus,ZA,2020-10-22 23:15:21,-34.42,19.23,64.00,86,51,4.00
3,3,Mataura,NZ,2020-10-22 23:15:21,-46.19,168.86,63.00,58,86,8.01
4,4,Buala,SB,2020-10-22 23:15:23,-8.14,159.59,85.19,65,57,5.44

In [41]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [42]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [43]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [44]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [49]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Buala,SB,2020-10-22 23:15:23,-8.14,159.59,85.19,65,57,5.44
9,9,Bathsheba,BB,2020-10-22 23:15:23,13.22,-59.52,82.40,78,40,13.87
10,10,San Patricio,US,2020-10-22 23:15:24,28.02,-97.52,84.20,70,20,16.11
18,18,Kavieng,PG,2020-10-22 23:15:24,-2.57,150.80,83.88,69,100,13.69
25,25,Atuona,PF,2020-10-22 23:15:26,-9.80,-139.03,78.17,70,15,13.80
26,26,Dingle,PH,2020-10-22 23:15:26,11.00,122.67,80.01,87,67,6.60
29,29,Butaritari,KI,2020-10-22 23:15:27,3.07,172.79,81.61,79,24,13.73
33,33,Vila Velha,BR,2020-10-22 23:15:23,-20.33,-40.29,77.00,78,75,10.29
37,37,Sao Filipe,CV,2020-10-22 23:15:28,14.90,-24.50,80.20,78,0,8.99
39,39,Hilo,US,2020-10-22 23:13:15,19.73,-155.09,87.80,58,40,11.41

In [50]:
preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [51]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
4          Buala      SB     85.19  -8.14  159.59
9      Bathsheba      BB     82.40  13.22  -59.52
10  San Patricio      US     84.20  28.02  -97.52
18       Kavieng      PG     83.88  -2.57  150.80
25        Atuona      PF     78.17  -9.80 -139.03
26        Dingle      PH     80.01  11.00  122.67
29    Butaritari      KI     81.61   3.07  172.79
33    Vila Velha      BR     77.00 -20.33  -40.29
37    Sao Filipe      CV     80.20  14.90  -24.50
39          Hilo      US     87.80  19.73 -155.09

In [52]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [53]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

            City Country  Max Temp    Lat     Lng            Hotel Name
4          Buala      SB     85.19  -8.14  159.59  Maringe Lagoon Lodge
9      Bathsheba      BB     82.40  13.22  -59.52        Atlantis Hotel
10  San Patricio      US     84.20  28.02  -97.52    Motel 6 Sinton, TX
18       Kavieng      PG     83.88  -2.57  150.80   Nusa Island Retreat
25        Atuona      PF     78.17  -9.80 -139.03           Villa Enata
26        Dingle      PH     80.01  11.00  122.67           Camp Pasica
29    Butaritari      KI     81.61   3.07  172.79    Isles Sunset Lodge
33    Vila Velha      BR     77.00 -20.33  -40.29  Hotel Vitória Palace
37    Sao Filipe      CV     80.20  14.90  -24.50           Tortuga B&B
39          Hilo      US     87.80  19.73 -155.09   Hilo Hawaiian Hotel

In [54]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [58]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [59]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))